#main-container {
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  background-color: #cbe4f4;
  padding: 50px;

  #main-card {
    border-radius: 12px;
    background-color: white;
    padding: 20px;
    align-self: center;
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    h1,
    #always-locked-up {
      align-self: center;
    }

    #pieces {
      display: flex;
      gap: 10px;
    }
  }
}
