@mixin max-width($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
.wrapper {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
}
.item {
  background-color: tomato;
  box-sizing: border-box;
  padding: 20px;
  outline: 2px solid blue;
  flex: 1;
  text-align: center;
}
.media-item{
  display: block;
  margin-right: auto;
  margin-left: auto;
  grid-column: span 3;
}

@include max-width(992px) {
  .item {
    flex-basis: 25%;
    background-color: red;
  }
}

@include max-width(640px) {
  .item {
    flex-basis: 50%;
    background-color: green;
  }
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;


}
.flex-textitem{

  text-align: center;
  flex-basis: 100%;
  flex: 0 0 33.333333%;
  border-color: blue;
  border-style: dashed;
}
.flex-item {
  padding: 5px;
  width: 400px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: darkgrey;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
.flex-button {
  padding: 5px;
  margin-top: 10px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.collapsible {

  cursor: pointer;
  padding: 2px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-family: "Source Sans Pro Black";
}
.example-full-width {
  width: 100%;
  border: none;
}
