.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.titleBold{
  font-family: sans-serif;
  size: 48px;
  line-height: 57px;
}

.example-full-width {
  width: 100%;
}

.td {
  padding-right: 8px;
}

.main-div{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centred-table {
  height: 50vh;
  width: 600px;
  text-align: left;
}

