<div class="wrapper">
  <!-- Header Row - Logo -->
  <div class="item"></div>
  <img  class="center" src="/assets/KVEscapeRoom.png" alt="KVV Escape Room" >
  <div class="item"></div>
  <!-- Collabsiple Welcome Text -->
  <div class="item"></div>
  <div class="item">
    <button type="button" class="collapsible" (click)="toggleShowInfoText()"><h1><i>Herzlich Willkommen im KV Escape Room </i><b buib*ngIf="!showAreYouReady">v</b></h1></button>
    <div *ngIf="showInfoText">
    Eure Aufgabe für die nächsten <b>60 Minuten</b>: Löst die Rätsel, um den Code am Zahlenschloss der Tür zu knacken!
    <br>Die Lösung zu jedem Rätsel ist ein Code, den ihr im Feld unten eingeben und prüfen könnt.
    <br>Ist der Code für das jeweilige Rätsel richtig erhaltet ihr das nächste Rätsel.
    <br>Irgendwann hoffentlich den finalen Code um das Schloss der Tür zu öffnen und zu fliehen.
    <br>Um die Rätsel lösen zu können erhält jeder Spieler einen Zettel mit Hinweisen (s. unten).
    <br>
    </div>
  </div>
  <div class="item"></div>
  <!-- Collabsiple Hints -->
  <div class="item"></div>
  <div class="item">
    <button type="button" class="collapsible" (click)="toggleShowHints()"><i>Hinweise </i><b *ngIf="!showAreYouReady">v</b></button>
      <div *ngIf="showHints" >
        <br>Pro Spieler gibt es einen Hinweiszettel (bei drei Spielern muss einer zwei nehmen).
        <br>Jeder Zettel enthält Hinweise, die euch zusammen mit dem passenden Rätsel zum richtigen Code führen.
        <br>
        <br>
        <a *ngFor="let piece of pieces" target="_blank" mat-flat-button color="primary" [href]="piece.path">
          {{piece.name}}
        </a>
      </div>
  </div>
  <div class="item"></div>
  <!-- Are you ready? -->
  <div *ngIf="showAreYouReady" class="item"></div>
  <div *ngIf="showAreYouReady"class="item">
      <b>Habt ihr die Hinweise verteilt und die Aufgaben verstanden?</b>
      <br><button type="button" (click)="toggleShowFirstRiddle()"><i>Klick und es geht los!</i></button>
  </div>
  <div *ngIf="showAreYouReady" class="item"></div>

  <!-- Riddle Media Content -->
  <div class="media-item">
    <span [innerHtml]="mediaContent"></span>
  </div>
  <!-- Riddle Row -->
  <div *ngIf="!showAreYouReady" class="item"></div>
  <div *ngIf="!showAreYouReady" class="item">
    <h2>{{titleRiddle}}</h2>
    <span [innerHtml]="riddle"></span>
  </div>
  <!-- <img  *ngIf="showTicker" src="/assets/ticker.gif" alt="Ticker" width="1024" height="720">-->
  <div *ngIf="!showAreYouReady" class="item"></div>

  <div  *ngIf="!showAreYouReady" class="item"></div>
  <form  *ngIf="!showAreYouReady" class="item" (ngSubmit)="proposeSolution()" >
    <mat-form-field >
      <mat-label>Code</mat-label>
      <input type="text" matInput [formControl]="codeFormControl" placeholder="12345">

      <mat-error *ngIf="codeFormControl.hasError('required')">
        Code is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="codeFormControl.hasError('incorrect')">
        Code is <strong>incorrect</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <button mat-button class="flex-button" type="submit" [disabled]="!codeFormControl.valid" >Try Code</button>
  </form>
  <div  *ngIf="!showAreYouReady"  class="item"></div>
</div>

<!--<span [innerHtml]="riddle"></span>-->
<!--
<div>
  <table class="riddleTable">
    <tbody>
    <tr>
      <td>
        <h1 >PD Escape Room</h1>
      </td>
    </tr>
    <tr>
      <img  src="/assets/AlwaysTogetherAlwaysLockedUp.png" alt="Wimmelbild" width="400" height="240">
    </tr>
    <tr class="blocksatz">
      <i>Welcome to our virtual Escape Room Game</i>
      <br>
      <b>The one and only “Escape the MS Teams Room” challenge!</b>
      <br>Your task as a team for the next <b>60 minutes</b> is to solve four riddles.
      <br>The solution to each riddle is a code.
      <br>After having solved one riddle, you must enter the code within this website.
      <br>You will then receive instructions to the next riddle.
      <br>For each of the first three riddles, there are five different pieces that you as a team must put together.
      <br>
      <br>Here are the links to the five pieces:
      <br>Piece A: <a target="_blank"  href="assets/pdfs/A.pdf" download>Riddles for the first Player</a>
      <br>Piece B: <a target="_blank"  href="assets/pdfs/B.pdf">Riddles for the second Player</a>
      <br>Piece C: <a target="_blank"  href="assets/pdfs/C.pdf">Riddles for the third Player</a>
      <br>Piece D: <a target="_blank"  href="assets/pdfs/D.pdf">Riddles for the fourth Player</a>
      <br>Piece E: <a target="_blank"  href="assets/pdfs/E.pdf">Riddles for the fifth Player</a>
      <br>
      <br>It is recommendable that each player takes care of one piece, in order for you to be fast.
      <br>The team which solves all the riddles the fastest, wins!”
      <div *ngIf="showFirstRiddle">
      <br *ngIf="!showImage"> All clear? If so, start with the first riddle right below”
      </div>
      <hr>
      <br>
      <div *ngIf="showFirstRiddle">“Let’s start the game with the history geek challenge. Be fast in finding out the correct answers and sum them up to a four-digit code.”</div>
    </tr>
    <tr>
      <td>
        <form class="example-form" (ngSubmit)="proposeSolution()" >
          <mat-form-field class="example-full-width">
            <mat-label>Code</mat-label>
            <input type="text" matInput [formControl]="codeFormControl" placeholder="12345">

            <mat-error *ngIf="codeFormControl.hasError('required')">
              Code is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="codeFormControl.hasError('incorrect')">
              Code is <strong>incorrect</strong>
            </mat-error>
          </mat-form-field>
          <button mat-button type="submit" [disabled]="!codeFormControl.valid" >Submit</button>
        </form>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width-result">
          <mat-label>Result</mat-label>
          <textarea [formControl]="resultFormControl"  matInput placeholder="Ex. It makes me feel... " [readonly]="true" [mat-autosize]="true"></textarea>
        </mat-form-field>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <img  *ngIf="showImage" src="/assets/Wimmelbild.png" alt="Wimmelbild" width="1024" height="720">
        <img  *ngIf="showTicker" src="/assets/ticker.gif" alt="Ticker" width="1024" height="720">
      </td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
-->
